{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="marginTop col box card effect3 effect4 effect1">
                <h1 style="font-size: 30px;" class="text-center display-1 p-4">Change Password</h1>
                <form action="">
                    {% csrf_token %}
                    <!-- <input name="old_password" class="form_control" placeholder="Old password" type="password" id="id_old_password" required="true"> -->
                    <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}" class=" col-form-label" >{{ form.old_password.label_tag }}</label>
                        <div class="row">
                          <div class="col">
                            {% render_field form.old_password placeholder=form.old_password.label %}
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}" class=" col-form-label" >{{ form.new_password1.label_tag }}</label>
                        <div class="row">
                          <div class="col">
                            {% render_field form.new_password1 placeholder=form.new_password1.label %}
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}" class=" col-form-label" >{{ form.new_password2.label_tag }}</label>
                        <div class="row">
                          <div class="col">
                            {% render_field form.new_password2 placeholder=form.new_password2.label %}
                          </div>
                        </div>
                    </div>
                    {% for field in form %}
                        {% for error in field.errors %}
                        <span style="color: red;" class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                    <!-- {{ form }} -->
                    <div class="row m-3">
                        <div class="col text-center">
                          <button type="submit" role="button" class="btn btn-sm btn-outline-primary btn-lg btn-iconed btn-rounded">
                             <i class="fa fa-arrow-left"></i> <span class="spn">Update</span>
                          </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}