{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'main.scss' %}" />
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome.min.css' %}">
    <link href="{% static 'style46.css' %}" rel="stylesheet">
    <link href="{% static 'itt.css' %}" rel="stylesheet">
    <link href="{% static 'toggle1.css' %}" rel="stylesheet">
    <link href="{% static 'dropdownessss.css' %}" rel="stylesheet">
    <link href="{% static 'stylezses.css' %}" rel="stylesheet">
    <link href="{% static 'stylesmain32.css' %}" rel="stylesheet">
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <link href="{% static 'spreadsheet.css' %}" rel="stylesheet">
    <link href="{% static 'spreadsheets.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>