{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="mt-5 container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h2>Reset Password Complete</h2>
        <p>
            Your password has been set. You may go head and log in now.
        </p>
        <br>
        <a href="{% url 'projectApp:login' %}">Log in now!</a>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}