{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <h2>Enter Your New Password</h2>
      <p>Please enter your new password twice so we can verify you typed it correctly</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="row m-3">
              <div class="col text-center">
                <button type="submit" role="button" class="btn btn-sm btn-outline-primary btn-lg btn-iconed btn-rounded">
                   <i class="fa fa-arrow-left"></i> <span class="spn">Update</span>
                </button>
              </div>
          </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}