{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="mt-5 container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <h2>Reset Password</h2>
      <p>Forgotten your Password? Enter your email below, and we'll email instructions for setting a new one.</p>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <div class="row m-3">
              <div class="col text-center">
                <button type="submit" role="button" class="btn btn-sm btn-outline-primary btn-lg btn-iconed btn-rounded">
                   <i class="fa fa-arrow-left"></i> <span class="spn">Send Email</span>
                </button>
              </div>
          </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}